<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <div class="flex">
        <!-- Sidebar -->
        <div class="w-1/4 h-screen bg-gray-800 text-white p-4">
            <h2 class="text-xl font-bold mb-4">Sidebar</h2>
            <ul>
                <li class="mb-2"><a href="#" class="hover:text-gray-400">Link 1</a></li>
                <li class="mb-2"><a href="#" class="hover:text-gray-400">Link 2</a></li>
                <li class="mb-2"><a href="#" class="hover:text-gray-400">Link 3</a></li>
            </ul>
        </div>
        <!-- Main Container -->
        <div class="w-3/4 h-screen p-4">
            <h2 class="text-2xl font-bold mb-4">Main Content</h2>
            <canvas id="temperatureChart" style="width:100%;max-width:700px"></canvas>
            <canvas id="humidityChart" style="width:100%;max-width:700px"></canvas>
            <canvas id="pressureChart" style="width:100%;max-width:700px"></canvas>
        </div>
    </div>
    <!-- CHART.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- MQTT -->
    <script src="https://unpkg.com/mqtt@5.10.1/dist/mqtt.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
    
</body>
</html>